* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.header__container {
    border-top: solid 5px #8d8f8c;
}

.logo_main {
    height: 52px;
    background-image: url('../imgs/veeam_logo_mdp_52.png');
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 15px;
}

.logo_mdp {
    height: 39px;
    background-size: 100%;
    background-image: url('../imgs/mdb_n1_backup.png');
    background-repeat: no-repeat;
    margin-top: 20px;
}

.main__breadcrumbs {
    background-color: #54b948;
    padding: 10px;
    padding-left: 27px;
}

.breadcrumbs {
    list-style: none;
    position: relative;
    overflow: hidden;
}

.breadcrumbs__item {
    color: #fff;
    text-decoration: none;
    float: left;
    padding-right: 50px;
}

.breadcrumbs__current {
    font-weight: bold;
}

.breadcrumbs__current:before {
    content: '';
    position: absolute;
}

.tabs__container {
    margin-top: 15px;

}

.tabs {
    list-style: none;
    float: right;
    position: relative;
    z-index: 2;
    font-size: 0;

}

.tabs__item {
    display: inline-block;
    background-color: #f4f4f4;
    font-size: 12px;
    font-weight: 600;
    color: #444;
    border: solid 1px #dad4d4;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    margin-right: 1px;
    text-align: center;
    cursor: pointer;

}

.tabs__item_active {
    background-color: #fff;
    border-bottom: #fff;
    /*padding-bottom: 11px;*/
}

.tabs__item:last-child {
    margin-right: 12px;
}

.content {
    background-color: #fff;
    border: solid 1px #dad4d4;
    border-radius: 5px;

}

.tabs__content {
    margin: 15px;
    display: none;
    position: relative;
    z-index: 1;

}

.tabs__content_active {
    display: block;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.content__main {
    margin-top: 25px;
}

.content__header-img {
    background-image: url(../imgs/Annual_DP_Report_2013_header_LP.png);
    height: 185px;
    background-size: cover;

}

.content__header_title {
    padding-top: 65px;
    padding-left: 110px;
    text-align: justify;
}


.content__header-white {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding-right: 6px;
}

.content__header-yellow {
    font-size: 25px;
    font-weight: bold;
    color: #ffec00;
}

.content__header-white_light {
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
}

.content__main-row_title {
    margin-bottom: 18px;
}

.content__main-rows_text {
    position: relative;
}

.content__main-row_text{
    margin-bottom: 10px;
}

.content__main-row_text:before {
    content: '';
    background-color: #444;
    height: 5px;
    width: 5px;
    position: absolute;
    left: -17px;
}

.content__main-row_1:before{
    top: 5px;
}

.content__main-row_2:before{
    top: 65px;
}

.content__main-row_3:before {
    top: 109px;
}

.content__main-row_4:before{
    top: 153px;
}

.content__main-row_text:last-child {
    margin-bottom: 25px;
}
.content__main-black {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.content__main-black-light_1 {
    font-size: 12px;
    font-weight: 600;
    color: #444;
}

.content__main-black-light_2 {
    font-size: 12px;
    font-weight: 500;
    color: #444;
}

.content__video {
    position: relative;
}

.content__video-1 {
    background-image: url(../imgs/annual-smb-report.jpg);
    height: 165px;
    background-size: cover;
}

.content__video-1-click {
    height: 54px;
    width: 143px;
    position: absolute;
    bottom: -5px;
    left: -1px;
    cursor: pointer;

}

.content__video-2 {
    background-image: url(../imgs/preview-annual-dp-report.png);
    height: 214px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.content__video-2-click {
    height: 54px;
    width: 143px;
    position: absolute;
    bottom: -30px;
    left: 2px;
    cursor: pointer;
}

.register {
    border: solid 2px #dad4d4;
    border-radius: 5px;
    float: right;
    width: 380px;
}

.register__content {
    background-color: #f5f5f5;
    margin: 10px;

}

.register__title {
    text-align: center;
}

.register__form {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: right;

}

.register__fields {
    list-style: none;
}

.register__form-item {
    margin-bottom: 12px;
    position: relative;

}

.register__form-item:last-child {
    margin-bottom: 0;
}

.register__form-item-names {
    float: left;
    padding-right: 30px;
}

.register__form-item-input:after {
    border: solid 1px #d0d0d0;
    height: 15px;
    width: 15px;
}

.register__form-item-input {
    width: 165px;
    height: 20px;
    background-color: #fff;
}

.register__form-item-names:after {
    content: "*";
    color: red;
    position: absolute;
    bottom: 3px;
}

.register__button {
    padding-top: 42px;
    padding-bottom: 40px;
    text-align: center;

}

.register__submit {
    background-color: #54b948;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: .5em 2.5em;
    border: none;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
}

.infographics__title {
    margin-bottom: 20px;
}

.infographics__item {
    display: inline-block;
}

.infographics__item {
    margin-right: 35px;
}

.footer__container {
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer__nav {
    margin-bottom: 30px;
}

.footer__nav_items {
    list-style: none;
    position: relative;

}

.infographics__row {
    margin: 20px 0 20px 0;
}

.infographics__click {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #1091c7;
}

.footer__nav-item {
    float: left;
    color: #747474;
    padding-right: 35px;
}

.footer__divider:after {
    content: '';
    position: absolute;
    top: 3px;
    display: block;
    width: 1px;
    height: 12px;
    background-color: #747474;
}

.footer__divider-1:after {
    left: 100px;
}

.footer__divider-2:after {
    left: 280px;
}

.footer__divider-3:after {
    left: 412px;
}

.footer__social {
    float: right;

}

.footer__social-btn {
    list-style: none;
    position: relative;

}

.footer__social-item {
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    border: solid 1px #cccccc;
    border-radius: 2px;
}

.footer__social-item:last-child {
    margin-right: 0;
}

.footer__social-twitter {
    color: #000;
    padding: 5px;
    padding-left: 18px;
    background-image: url(../imgs/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 2px;
    background-position-y: 3px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.footer__social-linkedin {
    color: #000;
    padding: 5px;
    padding-left: 18px;
    background-image: url(../imgs/linkedin.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1px;
    background-position-y: 3px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.footer__social-google {
    color: #da1314;
    padding: 5px;
    padding-left: 18px;
    background-image: url(../imgs/google.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 2px;
    background-position-y: 3px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.footer__social-facebook {
    color: #1b3b89;
    padding: 5px;
    padding-left: 18px;
    background-image: url(../imgs/facebook.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1px;
    background-position-y: 3px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.footer__row {
    text-align: center;
    color: #747474;
    margin-top: 40px;
}

.privacy_policy {
    color: #1091c7;
}










